body {
    background: #FFA781;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progresso {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    background: transparent;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /*border: 5px solid #00000020;*/
    border-top: 6px solid #5B0E2D;
    animation: loading 1.5s linear infinite;
}

.carregando {
    position: absolute;
    color: #5B0E2D;
    font-family: monospace;
    font-size: 28px;
}

/*  Animação    */
@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}
